:root {
  --primary: #ff8552;
  --secondary: #a5d8ff;
}

body {
  margin: 0;
}

/* navigation bar */
#cap,
#vocab {
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  text-transform: uppercase;
}

#cap {
  font-weight: bold;
  color: var(--primary);
}

#vocab {
  color: black;
}

.navbar__main {
  background-color: ghostwhite;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 5vh;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.navbar__logo {
  margin-left: 40px;
}
.navbar__items {
  padding: 0px;
  margin: 0px;
}
.navbar__items li a {
  padding: 12px;
  font-family: "Poppins", sans-serif;
}
.navbar__items li a {
  text-decoration: none;
  color: black;
}
.navbar__items ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
}

.navbar__icons {
  width: 150px;
}
.navbar__icons i {
  padding: 5px;
  font-size: 20px;
  color: black;
}

.navbar__items li:hover {
  background-color: var(--secondary);
  border-radius: 20px;
}

.hamburger-btn {
  font-size: 20px;
  position: absolute;
  top: 25px;
  right: 22px;
  display: none;
}


@media screen and (max-width: 760px) {
  .navbar__items.show, {
    display: flex;
  }

  .navbar__main {
    flex-direction: column;
    height: auto;
    margin: 0px;
    align-items: flex-start;
  }

  .navbar__logo {
    margin: 0px;
  }

  .navbar__items {
    width: 100%;
    display: none;
  }
  .navbar__items ul {
    flex-direction: column;
    margin: 0px;
    width: 100%;
    align-items: center;
  }
  .navbar__items ul li {
    padding: 0 40%;
  }

  .navbar__icons {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    display: none;
  }

  .hamburger-btn {
    display: block;
}

.show {
  display: flex;
}